<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- HTTP to HTTPS redirect -->
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Reverse proxy for main application -->
                <rule name="Reverse Proxy to Node.js" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/api/socketio/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
                
                <!-- WebSocket support for Socket.IO -->
                <rule name="WebSocket Proxy" stopProcessing="true">
                    <match url="api/socketio/(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/api/socketio/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- WebSocket support -->
        <webSocket enabled="true" />
        
        <!-- HTTP headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Powered-By" value="Oil Monitoring System" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Static files caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
    </system.webServer>
</configuration>